{% extends 'base.html' %}
{% load static %}

{% block title %}
Blog Detail
{% endblock %}

{% block content %}

<main>
    <br>
    <div class="container blog-content">
        <div class="row">
            {% if post.image %}
            <img src="{{post.image.url}}" alt="" height="600px" width="auto">
            {% else %}
            <img src="{% static 'img/slide2.jpg' %}" alt="" height="600px" width="auto">
            {% endif %}
        </div>
        <div class="row">
            <h3>{{post.title}}</h3>
            <p>{{post.published_date}}</p>
            <div>
                {{post.text|safe}}
            </div>
        </div>
    </div>
</main>

{% endblock content %}