<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">My Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <a class="nav-link  {% if active == 'ho' %}active {% endif %}" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active == 'li' %}active {% endif %}" href="{% url 'post-list' %}">Blog List</a>
                        </li>
                        
                        {% if request.user.is_active %}
                        
                        <li class="nav-item d-flex">
                            <a class="nav-link {% if active == 'signup' %}active {% endif %}" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link {% if active == 'addpost' %}active {% endif %}" href="{% url 'add-post' %}">AddPost</a>
                        </li>
                        
                        
                        {% else %}
                        <li class="nav-item d-flex">
                            <a class="nav-link {% if active == 'signup' %}active {% endif %}" href="{% url 'signup' %}">Signup</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link {% if active == 'login' %}active {% endif %}" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <div class="d-flex">
                    <p style="color:red">{{request.user.username}}</p>
                </div>
            </div>
        </div>
    </nav>
</header>